{#
/**
 * MicroCMS
 * =========================================================================================================
 *
 * Template Vue article - Itération 7 du projet
 * 
 * @author          Christophe Malo
 * @started         02/03/2016
 * @updated         04/03/2016
 * @version         1.0.1
 * @copyright       OpenClassrooms - Baptiste Pesquet        
 * @project         MicroCMS
 * @namefile        index.html.twig
 * @phpversion      5.6.10
 * @htmlversion     HTML5
 * @cssversion      CSS3
 * @jqueryversion   
 * 
 * @commentaire     v1.0.1 du 04/03/2016 : intégrer code pour gestion utilisateur
 */
#}
{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
    {% else %}
        <p>Pas encore de commentaires</p>
    {% endfor %}

    <h3>Add a comment</h3>
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        Bientôt!
    {% else %}
        <a href="{{ path('login') }} ">Login</a> pour commenter.
    {% endif %}
</p>
{% endblock %}